/*
 * @Author: huangying
 * @Date: 2018-09-26 16:00:30
 * @Last Modified by: huangying
 * @Last Modified time: 2018-09-26 16:15:16
 */
@import 'style/color.scss';
.ngNoData {
  height: 100%;
  .noData_text {
    margin-top: 40px;
    color: $secondary-button;
  }
  .noData_img {
    margin-top: 20px;
    width: 20%;
    max-width: 200px;
  }
}
